body {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 1px 12px;
}
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  

.navbar {
    height: 20px;
}
.bclick {
    width: 12px;
    height: 12px;
    background: rgb(211, 211, 211);
    border-radius: 40px;
    cursor: pointer;

}
.bclick:hover {
    background: #ffc107;
}
.alink {
    font-size: 13px;
}
.head1 {
    font-size: 14px;
    margin: 0;
}
.date {
    font-size: 10px;
}
h5,strong,span,p,h1,h2,h3,h4,h6 {
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
}
.title {
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 20px;
    margin-top: 3px;
}
.djitems {
  color: #e9ecef;
  padding: 1px 12px;
  font-size: 12px;
  border: none;
}
.djitems:hover {
  color: #bebcbc;
}
pre {
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 4px;
  color: #bac2cb;
  background: #000;
}
.catahead {
  padding-left: 12px;
  font-size: 12px;
  color: #fff;
  padding: 0px 8px;
  border: 1px solid #f8f9fa78;
  border-radius: 3px;
  margin: 10px;
  
}







.toggled #page-content-wrapper {
  margin-left: 0px;
  transition: margin .25s ease-out;
}
#page-content-wrapper {
  width: 100%;
  margin-left: 240px;
  transition: margin .25s ease-out
}
.card {
  margin-top: .75rem;
}
.card-title {
  font-size: 12px;
  color: #000;
}
.card-subtitle {
  font-size: 10px;
  color: #000;
}
.searchbox {
  width: 400px;
}
.indexform {
  display: flex;
  margin-top: .75rem;
  justify-content: space-between;
  padding-bottom: .75rem;
  border-bottom: 1px solid #f3f3f3;
}
.catagoryform {
  width: 250px;
}













@media (min-width:991px) {
    .navbar {
        height: 28px;
    }
  }

  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  #sidebar-wrapper {
    width: 240px;
}